/* ----------------------------------------------------------------

	== Table Of Content

		01 Basic
		02 Buttons
		03 Responsive


---------------------------------------------------------------- */
/* ----------------------------------------------------------------
				01 Basic
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  list-style: none;
}

body {
  color: #333;
  line-height: 1.3;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}
$primary: #1ABC9C;
.dark-theme {
  background: #131414;
  color: #eee;
}
.dark-theme .title:before {
  background: #222;
}
.dark-theme .nav-scroll {
  background: #181818;
}
.dark-theme .nav-scroll .icon-bar {
  color: #eee;
}
.dark-theme .nav-scroll .navbar-nav .nav-link {
  color: #eee;
}
.dark-theme .nav-scroll .logo {
  color: #fff;
}
.dark-theme .nav-scroll .logo:hover {
  color: #fff;
}
.dark-theme .hero .hero-img:after {
  background: #181818;
}
.dark-theme .services .active {
  border-color: #222;
}
.dark-theme .services .active.bolt:before, .dark-theme .services .active.bolt:after {
  background: #131414;
}
.dark-theme .services .bord {
  border-color: #222;
}
.dark-theme .portfolio .item-img-overlay:before, .dark-theme .portfolio .item-img-overlay:after {
  background: #181818;
}
.dark-theme .blog .pitem .content {
  background: #181818;
}
.dark-theme .blog .pitem .content h3 {
  color: #ccc;
}
.dark-theme .blog .pitem .content .more, .dark-theme .blog .pitem .content p {
  border-color: #222;
}
.dark-theme footer {
  background: #181818;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 15px;
  color: #a3a3a3;
  line-height: 1.6;
  word-spacing: 1px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-head {
  text-align: center;
  margin-bottom: 50px;
}

.title {
  display: inline-block;
  font-size: 36px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}
.title:after {
  content: '';
  width: 60px;
  height: 1px;
  background: $primary;
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
}
.title:before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(1, 1, 1, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
}

.title-left {
  text-align: left;
  margin-bottom: 30px;
}
.title-left:after {
  left: 0;
}

.bg-gray {
  background: #f7f7f7;
}
.bg-gray .title:before {
  background: #ddd;
}
.bg-gray .owl-theme .owl-dots .owl-dot span {
  background: #777;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-img .title:before {
  background: rgba(255, 255, 255, 0.1);
}

.section-padding {
  padding: 100px 0;
}

.section-ptb {
  padding: 80px 0;
}

.section-pt {
  padding: 80px 0 0;
}

.section-pb {
  padding: 0 0 80px;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.4);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $primary;
}

/* ----------------------------------------------------------------
				02 Buttons
-----------------------------------------------------------------*/
.buton {
  position: relative;
  cursor: pointer;
}
.buton button, .buton a {
  font-size: 12px;
  //text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  width: 130px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.buton button:before, .buton a:before {
  content: attr(back);
  font-family: "Font Awesome\ 5 Free";
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  color: $primary;
  border: 1px solid $primary;
  line-height: 38px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: translateY(-100%) rotateX(90deg);
  transform: translateY(-100%) rotateX(90deg);
}
.buton button:after, .buton a:after {
  content: attr(front);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: translateY(0) rotateX(0deg);
  transform: translateY(0) rotateX(0deg);
}
.buton button:hover:before, .buton a:hover:before {
  -webkit-transform: translateY(0) rotateX(0deg);
  transform: translateY(0) rotateX(0deg);
}
.buton button:hover:after, .buton a:hover:after {
  -webkit-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
}

.buton-bord button:before, .buton-bord a:before {
  background: $primary;
  color: #000;
}
.buton-bord button:after, .buton-bord a:after {
  background: transparent;
  color: $primary;
  border: 1px solid $primary;
}

.buton-lg button, .buton-lg a {
  width: 160px;
}

.buton-dark button:before, .buton-dark a:before {
  color: #222;
  border: 1px solid #222;
}
.buton-dark button:after, .buton-dark a:after {
  background: #222;
}

/* ----------------------------------------------------------------
				03 Responsive
-----------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .navbar .navbar-collapse {
    max-height: 320px;
    overflow: auto;
    background: #111;
    text-align: center;
    padding: 10px 0;
  }
  .navbar .nav-link {
    margin: 10px auto !important;
  }

  .nav-scroll .navbar-collapse .nav-link {
    color: #fff !important;
  }
  .nav-scroll .navbar-collapse .active {
    color: $primary !important;
  }

  .header .caption h1 {
    font-size: 50px;
  }

  .services .item {
    padding: 0;
  }
  .services .active {
    border: 0;
  }
  .services .bord {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }
}