<template>
  <section class="hero section-padding" data-scroll-index="1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="hero-img mb-md50">
            <!--<img src="https://lewis-munyi.github.io/assets/img/background.jpg" alt=""><br>-->
            <img src="https://avatars2.githubusercontent.com/u/15906323?v=4" alt=""><br>
            <!--<img src="img/2.jpg" alt="">-->
          </div>
            <div class="social-icon text-center">
                <a href="https://twitter.com/LewisMunyi" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-twitter text-white"></i></span>
                </a>
                <a href="https://t.me/lewis_munyi" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-telegram text-white"></i></span>
                </a>
                <a href="https://github.com/lewis-munyi" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-github text-white"></i></span>
                </a>
                <a href="https://www.quora.com/profile/Lewis-Munyi" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-quora text-white"></i></span>
                </a>
                <a href="https://medium.com/@lewismunyi97" target="_blank" rel="noopener">
                    <span class="icon"><i class="fab fa-medium text-white"></i></span>
                </a>
            </div>
        </div>
        <div class="col-lg-7">
          <div class="content">
            <h4 class="title title-left">About me</h4>
            <p>I am <span>Lewis Munyi</span>. I could waste your time by building a thorough website that would attempt to
              convince you that I know about x and establish that y is important to me.</p>
            <p>But ultimately, my preference and skills are as temporary as every language I know and as fickle as every tool I use.
              As temporary as things that will be useless in 10 years. As fickle as things that can be learned by anyone.</p>
            <p>The things that last are not complete, they are in progress. So what I will tell you is that I am in progress.
              I hold on to my methods loosely. embrace flexibility and modularity, I am willing to learn, expect to be wrong,
              and I'm confident when I’m right.</p>
            <p>When I am not writing code I'm either playing outdoor games or scrolling through Quora.
                <br>Keep scrolling to learn what I do.</p>

            <span class="buton buton-bord text-center">
                <a href="#0" front="Hire Me" back="Contact" data-scroll-nav="6"></a>
            </span>
            <span class="buton text-center">
                <a href="https://1drv.ms/w/s!AtuIb4K45P9LjzQMxvfx_RP0j2F3" front="Resume" back="View"></a>
            </span>
            <span class="buton  buton-bord text-center">
                <a href="https://linkedin.com/in/lewismunyi" front="See more" back="LinkedIn"></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About -->

</template>
<script>

export default {
  name: 'About',
};
</script>
<style lang="scss" scoped>
    $primary: #1ABC9C;
  .hero .hero-img {
    padding: 0 20px 0 0;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
      /*max-width: 100%;*/
  }
  .hero .hero-img:hover {
    padding: 0 0 0 20px;
  }
  .hero .hero-img:hover:after {
    background: $primary;
    /*background: #C49B66;*/
    left: 5px;
    top: -15px;
    right: 15px;
    bottom: 15px;
  }
  .hero .hero-img:after {
    content: '';
    background: #f5f5f5;
    position: absolute;
    left: 15px;
    right: 5px;
    top: 15px;
    bottom: -15px;
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
    .hero .social-icon span {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        border: 1px solid #eee;
        margin: 20px 5px 15px 0;
        cursor: pointer;
        -webkit-transition: all .5s;
        transition: all .5s;
        border-radius: 10px;
    }
    .hero .social-icon span:hover {
        background: $primary;
        border-color: $primary;
        color: #000;
    }
  .hero .content p {
    margin-bottom: 15px;
  }
  .hero .content p span {
    font-weight: 700;
  }
  .hero .buton {
    margin-top: 30px;
  }

</style>
