<template>
    <section class="footer">
        <p>Copyright &copy; {{ year }} | Made With <i class="fas fa-heart"></i> by <a href="https://linkedin.com/in/lewismunyi"><span>Lewis Munyi</span> </a>  | All Rights Reserved.</p>
    </section>
</template>

<script>
export default {
  name: 'PageFooter',
  data() {
    return {
      year: 0,
    };
  },
  methods: {
    getYear() {
      this.year = new Date().getFullYear();
    },
  },
  mounted() {
    this.getYear();
  },
};
</script>

<style lang="scss" scoped>
    .footer {
        padding: 50px 0;
        background: #111;
        text-align: center;
    }
    .footer p {
        font-size: 13px;
    }
    .footer p span{
        font-weight: 700;
    }
    .footer p i{
        color: red;
    }
</style>
