<template>
    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="#">Lewis</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="2">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="4">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: 'Navbar',
};
</script>

<style lang="scss" scoped>
    $primary: #1ABC9C;
    .navbar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: transparent;
        z-index: 9;
    }
    .navbar .icon-bar {
        color: #fff;
    }
    .navbar .navbar-nav .nav-link {
        font-size: 13px;
        font-weight: 600;
        color: #eee;
        letter-spacing: .5px;
        margin: 15px 5px;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    .navbar .navbar-nav .active {
        color: $primary !important;
    }

    .nav-scroll {
        background: #fff;
        border-bottom: 1px solid rgba(12, 12, 12, 0.04);
        padding: 0;
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    .nav-scroll .icon-bar {
        color: #222;
    }
    .nav-scroll .navbar-nav .nav-link {
        color: #222;
    }
    .nav-scroll .logo {
        padding: 15px 0;
        color: #111;
    }
    .nav-scroll .logo:hover {
        color: #111;
    }

    .logo {
        padding: 15px 0;
        width: 90px;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }
    .logo:hover {
        color: #fff;
    }
</style>
