<template>
  <div>
      <Navbar></Navbar>
      <Header></Header>
    <About></About>
    <Experience></Experience>
    <Services></Services>
    <Counters></Counters>
    <Portfolio></Portfolio>
    <!--<Testimonials></Testimonials>-->
    <!--<Blog></Blog>-->
    <Contact></Contact>
    <PageFooter></PageFooter>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';
import Header from './views/Header.vue';
import About from './views/About.vue';
import Experience from './views/Experience.vue';
import Services from './views/Services.vue';
import Counters from './views/Counters.vue';
import Portfolio from './views/Portfolio.vue';
import Testimonials from './views/Testimonials.vue';
import Blog from './views/Blog.vue';
import Contact from './views/Contact.vue';
import PageFooter from './components/footer.vue';

window.Popper = require('popper.js');
require('bootstrap');
require('./assets/js/scripts');


export default {
  components: {
    Navbar, Header, About, Experience, Services, Counters, Portfolio, /* Testimonials, Blog, */ Contact, PageFooter,
  },
};
</script>

<style lang="scss">
  @import '~@fortawesome/fontawesome-free/css/regular.css';
  @import '~bootstrap/scss/bootstrap';
  @import '~animate.css/animate.min.css';
  @import './assets/css/magnific-popup.css';
  @import './assets/css/owl.theme.default.min.css';
  @import './assets/css/helpers.css';
  @import './assets/css/style.scss';
</style>
